<div class="container">
  <div class="row text-center p-4">
    <div class="card mb-5">
      <h1 class="">RememberMe</h1>
      <p>
        RememberMe es una Aplicación Web que permite el registro, el manejo y la organización de las tareas que deben
        ser
        ejecutadas, con el fin de llevarlas a cabo de una manera más eficiente.
      </p>
      <p>RememberMe le ayudará a tener un manejo eficaz de las actividades a realizar, con la finalidad de gestionar
        eficientemente el uso del tiempo. Ponemos a su disposición una interfaz amigable e intuitiva conectada a una
        base
        de datos funcional que le permitirá tener la información de forma ágil y oportuna.</p>
      <h2 class="">Grupo 4</h2>
      <h4 class="">Cesar Mendoza Padilla</h4>
      <h4 class="">Andrés Pérez Arturo</h4>
      <h4 class="">William Vanegas Ruiz </h4>
      <h4 class="">Sergio Sanmiguel Saboya</h4>
    </div>


  </div>
</div>
