<div class="px-3 col-md-8 col-sm-12 offset-md-2 col-lg-4 offset-lg-4 mt-2">

  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="option1">Option 1</mat-option>
        <mat-option value="option2">Option 2</mat-option>
        <mat-option value="option3">Option 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <app-item-tarea *cdkVirtualFor="let item of listaTareas" [item]="item" class="mb-0  ">

    </app-item-tarea>
  </cdk-virtual-scroll-viewport> -->


  <app-item-tarea *ngFor="let item of listaTareas" [item]="item" class="mb-0  ">

  </app-item-tarea>

</div>

<div class=" page-footer  px-2 py-1 mt-2">
  <div class=" row p-0">
    <div class="form-floating col">
      <input [(ngModel)]="tituloNuevaTarea" type="text" class="form-control" id="floatingInput"
        placeholder="Descriptión de la Tarea" maxlength="50">
      <label for="floatingInput">Tarea Rápida</label>

    </div>
    <div class="col-auto  ">
      <button mat-raised-button (click)="tareaRapida()" color="primary" [mat-dialog-close]
        class="text-center mt-2">Agregar</button>
    </div>
  </div>
</div>
