<div class="fondo text-white  pt-3 ">
  <div class="  p-0 ">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start  p-0">
      <ul class="nav col-12  justify-content-center my-md-0 text-small  p-0 ">
        <li>

          <div class="col p-0 text-center">
            <a routerLink="/" class="nav-link  py-0">
              <mat-icon> list_alt</mat-icon>

            </a>
            <a routerLink="/" class="nav-link  py-0 mt-1">

              Tareas
            </a>
          </div>
        </li>
        <li>

          <div class="col p-0 text-center">
            <a routerLink="tableros" class="nav-link  py-0">
              <mat-icon> table_chart</mat-icon>

            </a>
            <a routerLink="tableros" class="nav-link  py-0 mt-1">

              Tableros
            </a>
          </div>
        </li>
        <li>

          <div class="col p-0 text-center">
            <a routerLink="bitacora" class="nav-link  py-0">
              <mat-icon>access_time</mat-icon>

            </a>
            <a routerLink="bitacora" class="nav-link  py-0 mt-1">

              Bitacora
            </a>
          </div>
        </li>
        <li>

          <div class="col p-0 text-center">
            <a routerLink="categorias" class="nav-link  py-0">
              <mat-icon>bookmark_border</mat-icon>
            </a>
            <a routerLink="categorias" class="nav-link  py-0 mt-1">

              Categoria
            </a>
          </div>
        </li>
        <li>
          <div class="col p-0 text-center">
            <a routerLink="about" class="nav-link  py-0">
              <mat-icon>domain</mat-icon>

            </a>
            <a routerLink="about" class="nav-link  py-0 mt-1">

              About
            </a>
          </div>

        </li>

      </ul>
    </div>
  </div>
</div>
<!-- <div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">

    <div class="text-end">
      <button type="button" class="btn btn-light text-dark me-2">Login</button>
      <button type="button" class="btn btn-primary">Sign-up</button>
    </div>
  </div>
</div> -->
