<div class="container p-0">



  <div class="text-center mb-0 mt-1 p-0">
    <h1 class="p-0 m-0">Categorias</h1>
  </div>


  <div class="col-sm-12 col-md-8 col-lg-6 p-1 offset-md-2 offset-lg-3 m-0">
    <div class="row">

      <mat-form-field appearance="outline" class="m-0 pt-0">
        <!-- <mat-form-field appearance="standard" class="m-0 pt-0"> -->
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar..." #input>
      </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container [matColumnDef]="'actions'">
        <th mat-header-cell *matHeaderCellDef> actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button (click)="edit(element)">
            <mat-icon mat-icon-button color='primary'>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="delete(element['id'])">
            <mat-icon mat-icon-button color="warn">delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumns;"></tr> -->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true" aria-label="Select page of users">
    </mat-paginator>


    <div class=" row p-0 mt-2">
      <div class="form-floating col">
        <input [(ngModel)]="nombreCategoria" type="text" class="form-control" id="floatingInput"
          placeholder="ingrese nombre de la categoria" maxlength="50">
        <label for="floatingInput">Crear Categoria</label>

      </div>
      <div class="col-auto  ">
        <button mat-raised-button (click)="nuevaCategoria()" color="primary" [mat-dialog-close]
          class="text-center mt-2">Agregar</button>
      </div>
    </div>
  </div>

</div>
